# Игнорируем директорию node_modules
node_modules

# Игнорируем файлы логов
*.logs

# Игнорируем файлы, связанные с операционной системой
.DS_Store
Thumbs.db

# Игнорируем локальные файлы, такие как package-lock.json (можно оставить для некоторых случаев)
package-lock.json

# Игнорируем скрытые файлы и директории, такие как .git
.git
.gitignore

# Игнорируем любые другие локальные файлы, которые не должны попадать в образ
# *.env
*.swp
